:root {
  --rose: #e91e63;
  --dark: #444;
  --white: #fff;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--white);
}
.app {
  width: 90%;
  height: 500px;
  background-color: var(--white);
  margin: 50px auto;
  border-radius: 12px;
  padding: 15px;
  border: 1px solid #eee;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.header h1 {
  width: fit-content;
}
.header .controls {
  flex: 1;
  text-align: right;
}
.header .controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}
.header .controls .add-new {
  margin-right: 10px;
  border: 1px solid var(--dark);
  background-color: transparent;
  color: var(--dark);
}
.header .controls .add-new:hover {
  background-color: var(--dark);
  color: var(--white);
  border: 1px solid var(--white);
}
.header .controls .sign-in {
  background-color: var(--rose);
  color: var(--white);
  border: 1px solid var(--rose);
}
.header .controls .sign-in:hover {
  background-color: var(--white);
  color: var(--rose);
  border-color: var(--rose);
}
.todos {
  margin-top: 15px;
}
.todos .message {
  text-align: right;
  color: var(--dark);
  font-weight: bold;
  margin-bottom: 15px;
}
.todos .todos-list {
  display: flex;
  flex-direction: column;
}
.todos-list .todo-item {
  width: 100%;
  border: 1px solid #eee;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-item .title {
  font-size: 22px;
  font-weight: bold;
  width: 25%;
}
.todo-item .progress {
  background-color: #eee;
  width: 40%;
  height: 15px;
  border-radius: 12px;
  position: relative;
}
.progress .inside-progress {
  position: absolute;
  width: 89%;
  height: 100%;
  background-color: #4caf50;
  border-radius: inherit;
  transition: 0.5s;
}
.todo-item-controls {
  width: 25%;
  text-align: right;
}
.todo-item-controls button {
  padding: 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.5s;
}
.todo-item-controls .edit {
  background-color: transparent;
  color: #4caf50;
  border: 1px solid #4caf50;
  margin-right: 10px;
}
.todo-item-controls .edit:hover {
  background-color: #4caf50;
  color: var(--white);
}
.todo-item-controls .delete {
  background-color: transparent;
  color: var(--rose);
  border: 1px solid var(--rose);
}
.todo-item-controls .delete:hover {
  background-color: var(--rose);
  color: var(--white);
}
